# These owners will be the default owners for everything in the repo.
# @imdhemy and @abdelrahman-waziry will be requested for review when someone opens a pull request.
*       @imdhemy @abdelrahman-waziry
