.login-wrapper {
    background-color: #fff;
    padding: 40px 8px 48px;
    margin-bottom: 64px;
    width: 380px;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
            padding: 10px 0;
        }
    }
    .ant-form-item {
        padding: 10px 25px;
    }
}