/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
/*******  created 26/3/2019 ************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: middle;
    font-family: Montserrat, Cairo, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    font-weight: normal;
}

body,
html {
    font-size: 16px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

ul {
    list-style: none;
}


blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden] {
    display: none;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus {
    outline: none;
}

input:focus {
    outline: none !important;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}


figure {
    margin: 0;
}

form {
    margin: 0;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}


button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}



button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



html::-webkit-scrollbar,
body::-webkit-scrollbar,
div::-webkit-scrollbar,
section::-webkit-scrollbarb,
main::-webkit-scrollbar,
ul::-webkit-scrollbar,
.ant-layout::-webkit-scrollbar {
    background-color: #f4f4f4 !important;
    width: 7px !important;
}





html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb,
main::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb,
.ant-layout::-webkit-scrollbar-thumb {
    background-color: #c0c0c0 !important; 
}

.ant-form-item-with-help{
    margin-bottom: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:default, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
}


.slide-right {
    opacity: 0;
    transform: translateX(-50px);
    visibility: hidden;
    transition: all ease-in-out 0.3s;
  }
  .slide-left {
    opacity: 0;
    transform: translateX(50px);
    visibility: hidden;
    transition: all ease-in-out 0.3s;
  }
  .slide-top {
    opacity: 0;
    transform: translateY(-50px);
    visibility: hidden;
    transition: all ease-in-out 0.3s;
  }
  .slide-bottom {
    opacity: 0;
    transform: translateY(50px);
    visibility: hidden;
    transition: all ease-in-out 0.3s;
  }
  .rotate-y {
    transform-style: preserve-3d;
    transform: rotateY(90deg);
    transition: all ease-in-out 0.3s;
  }
  
.animation-active {
    .slide-right {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
      transition: all ease-in-out 0.4s;
    } 
    .slide-left {
      opacity: 1;
      transform: translateX(0);
      visibility: visible;
      transition: all ease-in-out 0.4s;
    }
    .slide-top {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      transition: all ease-in-out 0.4s;
    }
    .slide-bottom {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
      transition: all ease-in-out 0.4s;
    }
    .rotate-y {
      transform: rotateY(0);
    }
    .charger-img-holder {
      > div {
        top: 0 !important;
      }
    }
    .rotate-moving{
        animation-name: chargingMove;
        animation-duration: .7s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        body.rtl &{
            animation-name: chargingMoveRtl; 
        }
    }
}